<% provide(:title, "User Info") %>

<% if current_user?(@user) %>
  <h1> Welcome <%= @username %> </h1>
<% else %>
  <h1><%= @username %> </h1>
<% end %>


<div class="text-center">


  <%= link_to('Products', products_path, class: "btn btn-warning") %>
  <%= link_to('Users', users_path , class: "btn btn-default") %>
  <%= image_tag(@user.avatar) %>
  <br>
  <%= "First Name: #{@user.fname}" %>
  <br>
  <%= "Last Name: #{@user.lname}" %>
  <br>
  <%= "Email: #{@user.email}" %>
 
 
</div>